* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;


}

body {
  color: black;
}

button {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 10px;

}

p {
  font-size: 18px;
  color: #534f4f;
  font-family: "Roboto", sans-serif;
}

.mainheading p {
  font-size: 17px;
  max-width: 600px;
  text-align: center;
  padding-top: 25px;
  margin: auto;
}

header {
  height: 100vh;
  background-position: 1% 1% !important;
}

.navbar {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  padding: 30px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.473);
}

.logo h1 {
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 5px 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;

}

.navbar ul li a:hover {
  color: #a54646;
  transition: 0.3s;
}

.navbtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: #d11515;
  cursor: pointer;
}

.navbtn button:hover {
  transition: 0.3s;
  background-color: #970a0a;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 20%;
}

#home p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  max-width: 500px;
  line-height: 1.3;
  font-family: "Josefin Sans", sans-serif;
}

#home h3 {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

#home h1 {
  font-size: 90px;
  padding-top: 25px;
  color: white;
  padding-bottom: 10px;
  letter-spacing: 2;
}

.homebtn {
  padding-top: 35px;

}

#about {
  display: flex;
  justify-content: center;
  padding: 100px 50px;
  padding-left: 0px;
  align-items: center;

}

.toright {
  margin-left: 50px;
}

.leftabt {
  max-width: 560px;
  padding-right: 75px;
  padding-top: 50px;

}

.rightabt img {
  width: 500px;
}

.rightabt {
  transform: rotate3d(0, 0, 1, 5deg);
  padding-left: 40px;
  padding-right: 40px;

}

.rightabt::before {
  content: '';
  position: absolute;
  height: 45%;
  width: 10px;
  bottom: 0px;
  right: 0;
  background-color: #d61111;
}

.rightabt::after {
  content: '';
  position: absolute;
  height: 65%;
  width: 10px;
  top: 30px;
  left: 0;
  background-color: #d61111;

}

.rightabt img:hover {
  cursor: pointer;

}

.rightabt:hover::before {
  transition: 0.5s;
  cursor: pointer;
  background-color: rgb(158, 3, 3);
}

.rightabt:hover::after {
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(158, 3, 3);
}

.mainabt h1 {
  font-size: 35px;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;

}

.mainabt p {
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-size: 17px;
  color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
}

.redbgh1 {
  background-color: #d11515;
  display: inline-block;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 15px 0px 15px 0px;
}

.redbgh1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  padding-top: 8px;
  font-size: 18px;
}

.abtbtn {
  padding-top: 60px;
  margin-left: 40px !important;
}

.abtbtn button {
  background: linear-gradient(to left, #d11515 50%, #bb1010 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-position 0.3s;
}

.abtbtn button:hover {
  background-position: left bottom;
}


.gridabt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
  gap: 20px;
  /* Adjust the gap between items as needed */
}

.torighti {
  margin-left: 10px;
}

.grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.grid1 .icon-container {
  position: relative;
  width: 95px;
  /* Adjust the width to your preference */
  height: 70px;
  /* Make the height equal to the width for a perfect circle */
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  /* Ensure the pseudo-element doesn't overflow the container */
}


.grid1 .icon-container::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d11515;
  transition: bottom 0.4s;
  border-radius: 25px;
  /* Maintain the circular shape */
}

.grid1 .icon-container:hover::before {
  bottom: 0;
}

.grid1 i {
  position: relative;
  color: white;
  z-index: 1;
  font-size: 30px;
}

.gridw {
  width: 84.19px !important;
}

.gridx {
  width: 99.5px !important;
}

.gridy {
  width: 89.5px !important;
}

.gridz {
  width: 89.5px !important;
}

/* CLASS SECTION */
#class {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

#class h1 {
  font-family: "Montserrat", sans-serif;
}

.headings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainheading h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-top: 10px;
}

.tobottom {
  margin: 10px auto !important;
  margin-top: 0px !important;
}

.class-rows {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  gap: 30px;
  /* Optional: Adds space between the cards */
}

.cardcontainer {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  margin-bottom: 35px;
}

.card-class {
  width: 350px;
  height: 300px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cardcontainer::before {
  width: 260px;
  height: 222px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: rgba(0, 0, 0, 0.062);
  position: absolute;
  left: 110px;
  top: 40px;
  content: "";
}

.cardcontainer:hover::before {
  background-color: #d11515;
  transition: 0.8s;
}

.cardcontainer:hover svg {
  background-color: #d11515;
  transition: 0.8s;
}

.extralayer-class {
  padding: 1px 0px;
  outline: none;
}

.class-content {
  padding: 0px 50px;
}

.class-content p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.8;
  padding-top: 20px;
  color: #534f4f;
}

svg {
  position: absolute;
  z-index: 4;
  top: 25px;
  background-color: #6e6767;
  width: 50px;
  padding: 15px;
  height: 50px;
  border-radius: 100%;
}

/* PRICE PLAN */



#price {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white !important;
}

:root {
  --primary-color: #d11515;
  --body-bg: #16181A;
  --text-color: #fff;
}

.chosen-plan {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  padding: 1.5rem 0;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 0 0 15px 15px;

  span:first-of-type {
    margin-bottom: 8px;
    display: block;
    font-weight: 400;
  }

  .plan-name {
    font-size: 1.125rem;
    font-weight: 700;
  }
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-inline: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 50px;
  padding-top: 20px;
  color: white;
}

.bill-type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  gap: 10px;

  .bill-toggle {
    #bill-toggle {
      display: none;

      &+label {
        display: block;
        width: 60px;
        height: 32px;
        border-radius: 20px;
        background-color: var(--primary-color);
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-100%, -50%);
          transition: transform 0.2s;
        }
      }

      &:checked+label::after {
        color: white;
        transform: translate(0, -50%);
      }
    }
  }
}

.pricing-table {
  max-width: 500px;
  padding-inline: var(--container-x);
  margin-inline: auto;
  margin-block: 40px;

  @media screen and (min-width: 1080px) {
    max-width: var(--container-mw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }

  .plan {
    background-color: #131313;
    padding: 2rem 3rem;
    border-radius: 12px;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;

    @media screen and (max-width: 920px) {

      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }

    .name {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 18px;
    }


    .price {
      width: 250px;
      margin: 0px auto;
      font-size: 3.5rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;

      sub {
        position: static;
        font-size: 1.2rem;
      }
    }

    &.enterprise .price {
      font-size: 2.5rem;
    }

    .features {
      margin-block: 30px;

      li {
        margin-bottom: 15px;
        line-height: 1.5;

        &::marker {
          color: var(--primary-color);
        }
      }
    }

    .choose-btn {
      display: block;
      width: 100%;
      max-width: 250px;
      margin-inline: auto;
      margin-top: auto;
      padding: 1rem 1rem;
      font-weight: 600;
      background-color: transparent;
      color: #fff;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover,
      &.active {
        background-color: var(--primary-color);
      }
    }
  }

  .plan:hover {
    transition: 0.2s;
    background: #1d1d1d;
  }

  .plan {
    padding: 2rem 0rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
}

/* gallery section*/
#gallery {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
}

.gallerypics {
  display: flex;
  padding-top: 100px;
}

.gallerypics img {
  width: 250px;
  height: 300px;
  margin: 3px;
  object-fit: cover;
  position: relative;
}

.g-img-top1 {
  position: relative;
}

.g-img-top2 {
  position: relative;
}

.g-img-top2 .dark-overlay {
  top: 1%;
  height: 96%;
}

.g-bottom-1 .dark-overlay {
  height: 97%;
  left: 1%;
  width: 98%;

}

.g-bottom-2 .dark-overlay {
  height: 97%;
  left: 1%;
  width: 98%;
}

.g-img-bottom1 {
  position: relative;
  display: flex;
}

.g-img-bottom2 {
  position: relative;
}

.g-bottom-2 {
  margin-left: 7px;
  position: relative;
}

.g-bottom-1 {
  position: relative;
}

.g-img-top1:hover .dark-overlay,
.g-img-top2:hover .dark-overlay,
.g-bottom-1:hover .dark-overlay,
.g-bottom-2:hover .dark-overlay,
.g-img-bottom2:hover .dark-overlay {
  opacity: 1;
}

.dark-overlay {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 98%;
  background-color: rgba(170, 5, 5, 0.253);
  /* Adjust the opacity value to darken/lighten as needed */
  opacity: 0;
  /* Initially transparent */
  transition: opacity 0.3s ease;
  /* Smooth transition */
}

.gallery-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.g-img-top1 img {
  width: 512px;
  height: 550px;

}

.g-img-bottom1 img {
  width: 250px;
  height: 300px;

}

.g-img-top2 img {
  width: 600px;
  height: 275px;

}

.g-img-bottom2 img {
  width: 600px;
  height: 575px;
}

.tobottom-g {
  margin-bottom: 10px;
}

/* BMI */
#bmi {
  padding: 0px;
}

.leftbmi {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 100px 70px;
  background: rgba(22, 22, 22, 0.952);
  max-width: 500px;

}

.leftbmi h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.leftbmi p {
  color: #919090;
  padding-top: 25px;
}

.leftbmi input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #ffffff40;
  outline: none;
  color: rgb(206, 206, 206);
}

.leftbmi form {
  text-align: left;
}

.leftbmi form button {
  border: none;
  margin-top: 0px;
  width: 120px;
  height: 50px;
  background-color: #1d1d1d;
}

.labeltext input {
  margin-top: 50px;
  background-color: #d11515;
  color: rgb(235, 235, 235);
}

.labeltext input::placeholder {
  color: rgb(235, 235, 235);
}

/* ------------- CONTACT -----------------------  */
#contact {
  padding: 75px 50px;
  display: flex;

}

#contact h1 {
  font-family: "Montserrat", sans-serif;

}

.left-c {
  max-width: 600px;
}

.left-c-h1 h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 30px;
}

.left-c p {
  font-size: 16px;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

.left-4 {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

}

.left-4 hr {
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #d11515;
  height: 3px;
  width: 50px;
}

.left-4-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.left-4 i {
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #d11515;
  color: white;
  cursor: pointer;
  border-radius: 100%;
}

.left-4 i:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}

.socialicons {
  justify-content: space-between;
  max-width: 165px;
  display: flex;
}

.email {
  padding: 50px 60px;
  background-color: #d11c1c;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  text-align: left;

}

.right-c hr {
  color: white;
  width: 30px;
  height: 3px;
  background-color: white;
  border: none;
  margin-top: 10px;
  outline: none;
}

.emailmain {
  max-width: 500px;
}

.emailmain h1 {
  color: white;
}

.emailmain p {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 1.4;

}

form {
  padding-top: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  width: 500px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  outline: none;
  font-weight: 500;
  margin: 1px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.61);
  font-size: 16px;
  border-radius: 4px;
}

form button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  font-family: "Roboto", sans-serif;
  outline: none;
  z-index: 2;
  overflow: hidden;
  transition: 0.5s all;
}


form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #8d0d0d, #ad0f0f, #c51616);
  transition: left 0.5s ease;
  z-index: -1;
}

form button:hover::before {
  left: 0;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}

.footer h1 {
  font-weight: 700;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.logo-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.quicklinks ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.quicklinks ul li {
  list-style: none;
  padding-top: 10px;
}

.quicklinks ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-weight: 300;
  transition: 0.5s;
}

.quicklinks ul li a:hover {
  color: #e7a0a0;
}

.sociallinks {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.sociallinks a {
  text-decoration: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding-top: 10px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: white;
  font-size: 15px;
  font-weight: 300;
  transition: 0.5s;
}

.sociallinks a:hover {
  color: #e7a0a0;
}

.sociallinks a i {
  padding-right: 10px;
  font-size: 27px;
  color: #ffffff;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 300;
}

footer p {
  color: white;
}

/*-------------- MEDIA QUERIES-----------------*/
@media (max-width:1272px) {
  .rightabt img {
    width: 350px;
  }

  .abtbtn {
    padding-top: 50px;
    margin-left: 40px !important;
  }

  .mainabt h1 {
    font-size: 32px;
    padding-top: 10px;
  }

  .gridabt {
    gap: 0px;
  }

  .grid1 {
    padding-top: 35px;
  }

  .grid1 i {
    font-size: 28px;
  }

  .grid1 .icon-container {
    position: relative;
    height: 60px;
  }

  .gridw {
    width: 77.19px !important;
  }

  .gridx {
    width: 91.5px !important;
  }

  .gridy {
    width: 82.19px !important;
  }

  .gridz {
    width: 82.19px !important;
  }

  .leftabt {
    max-width: 500px;
    padding-right: 65px;
  }

  .abtbtn button {
    padding: 12px 15px;
  }

  .mainabt p {
    font-size: 16px;
  }

  .rightabt {
    padding-left: 25px;
    padding-right: 25px;
  }

  .rightabt::before {
    width: 8px;
  }

  .rightabt::after {
    width: 8px;
  }

  .gallerypics {
    flex-direction: column;
  }

  .gallery-1 {
    margin-right: 0px;
  }

  .g-img-top1 img {
    width: 850px;
    height: 450px;
  }

  .g-img-bottom1 img {
    width: 419px;
    height: 307px;
  }

  .g-img-top2 img {
    width: 850px;
    height: 290px;
  }

  .g-img-bottom2 img {
    width: 850px;
    height: 450px;
  }

  .tobottom-g {
    margin-bottom: 0px;
  }

  .leftbmi {
    padding: 100px 30px;
    max-width: 385px;
  }

  #contact {
    flex-direction: column;
  }

  .left-c {
    max-width: 90%;
    margin: auto;
  }

  .left-4 {
    row-gap: 40px;
    column-gap: 140px;
  }

  .right-c {
    width: 90%;
    margin: auto;
    margin-top: 75px;
  }

  .email {
    margin-left: 0px;
  }
}

@media (max-width:1020px) {
.rightabt img{
  width: 450px;
}
  .rightabt::before {
    width: 10px;
  }

  .rightabt::after {
    width: 10px;
  }

  .rightabt {
    padding-left: 40px;
    padding-right: 40px;
  }
  .leftabt{
    padding-right: 50px;
    text-align: center;
  }

#about {
  flex-direction: column-reverse;
}
}